.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: calc(100% - 48px - 48px);
  gap: 16px;
  margin: 0 auto;
  margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    width: 928px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    width: 720px;
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 320px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    width: 288px;
    margin-bottom: 64px;
    gap: 12px;
  }
}
