.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: calc(100% - 48px - 48px);
  gap: 16px;
  margin: 0 auto;
  margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    width: 928px;
}
}
