.place__text {
  display: grid;
  gap: 26px;
  grid-auto-rows: max-content;
  width: 484px;
}

@media screen and (max-width: 1024px) {
  .place__text {
    width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .place__text {
    width: 352px;
    gap: 25px;
  }
}
@media screen and (max-width: 320px) {
  .place__text {
    width: 288px;
    margin: 0 auto;
  }
}

