.intro__text {
  width: 690px;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
}

@media screen and (max-width: 1024px) {
  .intro__text {
    margin-bottom: 29px;
  }
}

@media screen and (max-width: 768px) {
  .intro__text {
    width: 720px;
    margin-bottom: 31px;
  }
}

@media screen and (max-width: 320px) {
  .intro__text {
    width: 288px;
    margin-bottom: 32px;
  }
}
