.place__link {
  width: 456px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFF;
  margin: 0;
  padding: 0;
}

.place__link:hover {
  opacity: 0.8;
  transition: all ease-in-out 0.2s;
}

@media screen and (max-width: 768px) {
  .place__link {
    width: 352px;
  }
}

@media screen and (max-width: 320px) {
  .place__link {
    width: 288px;
  }
}
