.footer__nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 320px) {
  .footer__nav {
    flex-direction: column;
    width: 186px;
    margin-bottom: 24px;
  }
}
