.cover__overlay {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 1184px;
  height: 740px;
  background-color: rgba(42, 44, 47, 0.3);
  text-decoration: none;
  transition: background-color 0.5s ease-in-out;
  gap: 30px;

}


.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
  transition: all ease-in-out 0.2s;
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    width: 1024px;
    height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    width: 768px;
    height: 480px;
    gap: 32px;
  }
}

@media screen and (max-width: 320px) {
  .cover__overlay {
    width: 320px;
    height: 200px;
    gap: 15px;
  }
}
