.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px 40px;
  width: 984px;
  margin-left: 148px;
}

@media screen and (max-width: 1024px) {
  .place {
    gap: 48px 32px;
    width: 928px;
    margin-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    gap: 48px 28px;
    width: 720px;
    margin-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: repeat(1, auto);
    gap: 37px;
    width: 320px;
    margin-left: 0px;
  }
}




